venv 
.env
# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in directories
.Spotlight-V100
.Trashes

# iCloud
*.icloud